trunk/globalmentor-http/.classpath
trunk/globalmentor-http/.project
trunk/globalmentor-http/.settings
trunk/globalmentor-http/target
trunk/globalmentor-webdav/.classpath
trunk/globalmentor-webdav/.project
trunk/globalmentor-webdav/.settings
trunk/globalmentor-webdav/target
